.quantityBtn {
    padding: 0.5em;
    border-radius: 50%;
    margin: 0.5em 0.5em 0 0.5em;
    border: none;
    color: white;
}

.totalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.cartItem {
    margin: var(--size-1) 0;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
}